
VS_test/.DS_Store
VS_STM32_ADC_calib/.vscode/extensions.json
VS_STM32_ADC_calib/.DS_Store
STM32_KXKM_Battery_monitoring/.DS_Store
hardware/kxkm/.DS_Store
hardware/.DS_Store
ESP32_HW_test/.DS_Store
ESP32_Energy_API_test/.DS_Store
.DS_Store
VS_STM32_KXKM_Battery_monitoring/.vscode/extensions.json
